# PostgreSQL — Order Service
POSTGRES_ORDERS_DB=orders_db
POSTGRES_ORDERS_USER=orders
POSTGRES_ORDERS_PASSWORD=orders
POSTGRES_ORDERS_PORT=5432

# PostgreSQL — Payment Service
POSTGRES_PAYMENTS_DB=payments_db
POSTGRES_PAYMENTS_USER=payments
POSTGRES_PAYMENTS_PASSWORD=payments
POSTGRES_PAYMENTS_PORT=5433

# PostgreSQL — Inventory Service
POSTGRES_INVENTORY_DB=inventory_db
POSTGRES_INVENTORY_USER=inventory
POSTGRES_INVENTORY_PASSWORD=inventory
POSTGRES_INVENTORY_PORT=5434

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Redis
REDIS_PORT=6379